@charset "UTF-8";

/* Responsiveness board */
.board {
	height: 250px;
	width: 250px;
}

.field {
	height: 31px;
	width: 31px;
}
@media (min-width: 350px)
{
	.board {
		height: 340px;
		width: 340px;
	}

	.field {
		height: 40px;
		width: 40px;
	}
}

@media (min-width: 768px) 
{
	.board {
		height: 700px;
		width: 700px;
	}
	
	.field {
		height: 86px;
		width: 86px;
	}
}

@media (min-width: 992px) 
{
	.board {
		height: 600px;
		width: 600px;
	}
	
	.field {
		height: 70px;
		width: 70px;
	}
}

@media (min-width: 1200px)
{
	.field {
		height: 80px;
		width: 80px;
	}
	.board {
		height: 680px;
		width: 680px;
	}
}

/* General */
body 
{
	line-height: 1;
}

img 
{
    width: 100%;
    height: 100%;
    vertical-align: inherit;
}

.field.whiteField {
	background-color: white;
}

.field.blackField {
	background-color: grey;
}

.field.selected {
	background-color: red;
}